<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ ansible_hostname }}</title>
</head>
<body>
<h1>Host: {{ ansible_hostname }}</h1>

<ul>
    <li><b>CPU:</b> {{ ansible_processor_vcpus }} vCPU</li>
    <li><b>RAM:</b> {{ ansible_memtotal_mb }} MB</li>
    <li><b>HDD (first disk):</b>
        {{ (ansible_mounts | selectattr('mount', 'equalto', '/') | list)[0].size_total | filesizeformat }}
    </li>
    <li><b>IP address:</b> {{ ansible_default_ipv4.address }}</li>
</ul>

</body>
</html>
